$primaryColor: #f8f7f3;
$secondaryColor: #1a24fb;

body {
    font-family: 'Montserrat', sans-serif;
    color: $primaryColor;
    background-color: $primaryColor;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    color: $primaryColor;
    background-color: $secondaryColor;

    h1 {
        font-size: 12px;
        margin: 12px;
        font-weight: 400;
        letter-spacing: .2em;
        text-transform: uppercase;
    }

    button span.menuIcon {
        font-size: 24px;
        margin: 12px;
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;

    #bestSellers.container {
        max-width: 1280px;
        margin: 120px auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 100px 20px;
        
        .card {
            position: relative;
            background-color: $primaryColor;
            color: $secondaryColor;
            max-width: 360px;
            
            .bookData {
                padding: 40px;
                border: 2px solid $secondaryColor;
                height: 100%;
            }
            
            h2.title {
                font-size: 36px;
                font-weight: 700;
                min-height: 100px;
                margin-bottom: .5em;
            }
            
            .index {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                top: 0;
                right: 0;
                font-size: 24px;
                font-weight: 700;
                color: $secondaryColor;
            }

            .author {
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 1em;
                letter-spacing: .2em;
                text-transform: uppercase;
            }
            
            .resume {
                font-family: 'Overpass', sans-serif;
                font-size: 16px;
                font-weight: 400;
                font-family: 'Overpass', sans-serif;
            }

            button {
                position: absolute;
                bottom: -36px;
                left: 0;
                width: 100%;
                height: 18px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                background-color: $primaryColor;
                color: $secondaryColor;

                .buttonText {
                    font-size: 14px;
                    font-weight: 500;
                }
                .arrow {
                    position: absolute;
                    right: 0;
                    font-size: 18px;
                }
            }

            button:hover {
                background-color: $secondaryColor;
                color: $primaryColor;
            }
        }

    }
}
